<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991883845658-l6qqlecik1qg7f58o6aqill979dq222i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991883845658-l6qqlecik1qg7f58o6aqill979dq222i</string>
	<key>API_KEY</key>
	<string>AIzaSyBHbLZLh2FQhogJUetDCjQJ42Eewg1KD0s</string>
	<key>GCM_SENDER_ID</key>
	<string>991883845658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocTest</string>
	<key>PROJECT_ID</key>
	<string>bloc-photo-library-two</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-photo-library-two.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991883845658:ios:2362fa9d20ffa5440c71a3</string>
</dict>
</plist>